@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.App-container{
    width: 100%;
    min-height: 100vh;
    background: url("https://static.vecteezy.com/system/resources/previews/001/925/378/non_2x/clear-sky-in-summer-free-photo.jpg");
   background-position:top;
   background-repeat: no-repeat;
   background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}

.note{
    width: 160px;
    height: 160px;
    margin:2%;
   
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    min-height: 35%;
    background: #E3FDFD;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
  }
  .center h1 {
    font-size: 2em;
    border-left: 5px solid #71C9CE;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 40px;
    font-weight: bold;
    padding-left: 10px;
  }
  .center .inputbox {
    position: relative;
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
  }
  .center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
  }


  .center .inputbox:last-child {
    margin-bottom: 0;
  }
  .center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
  }
  .center .inputbox input:focus ~ span,
  .center .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
  }

  
  .center .inputbox [type="submit"] {
    width: 50%;
    background: #A6E3E9;
    color: rgb(0, 0, 0);
    border: #fff;
    font-weight: 400;
  }
  .center .inputbox:hover [type="submit"] {
    background: linear-gradient(45deg, #E3FDFD, #71C9CE);
  }
  

.ticket-containet{
  width: 80%;
  height: 120px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket-title{
  color: rgb(0, 2, 1);
  font-size: 60px;
  font-weight: 600;
  text-decoration: underline;
}

.ticket-description{
font-size: 30px;
font-weight: 300;
}
/*----------------------------------------------------*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  caret-color:transparent;

 
}

.card-completed{
  background: radial-gradient(#ea4444, #ee1616);
  text-decoration: line-through;
  text-decoration-color: #fff ;
  text-decoration-style: wavy;
  word-wrap: break-word;
  word-break: break-all;

  
}

.card {
  margin: 20px;
  padding: 20px;
  width: 350px;
  height: auto;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;

  
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
  
  
}

button{
  background-color:transparent;
  border: none;
  font-size: 25px;
  border-radius: 50%;
  padding: 8px;
}

button:hover{
  cursor: pointer;
  color: #fff;
}
.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  font-size: 40px;
  text-decoration:overline ;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.card-description{
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  padding-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  padding: 3px;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

.card-4 {
  background: radial-gradient(#61e665, #12ff1a);
  word-wrap: break-word;
  word-break: break-all;
}

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.completed-button{
  grid-row: 5/5;
  justify-self: end;
font-size: 30px;
}